@model ClassLibrary1.ProductSuppliers

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ProductSuppliers</legend>

        @Html.HiddenFor(model => model.id)

        <div class="editor-label">
            @Html.LabelFor(model => model.price)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.price)
            @Html.ValidationMessageFor(model => model.price)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.suppliers_Id, "Suppliers")
        </div>
        <div class="editor-field">
            @Html.DropDownList("suppliers_Id", String.Empty)
            @Html.ValidationMessageFor(model => model.suppliers_Id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.products_Id, "Products")
        </div>
        <div class="editor-field">
            @Html.DropDownList("products_Id", String.Empty)
            @Html.ValidationMessageFor(model => model.products_Id)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
