<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Library</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Styles.Render("~/Content/bootstrap.min.css")
        @Styles.Render("~/Content/bootstrap-theme.min.css")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("Library", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li class="btn btn-default"><img class="prove" src="../Images/supliers.png" alt="" /> @Html.ActionLink("Suppliers", "Index", "Suppliers")</li>
                            <li class="btn btn-default"><img class="client" src="../Images/client.png" alt=""/> @Html.ActionLink("Clients", "Index", "Client")</li>
                            <li class="btn btn-default"><img class="employee" src="../Images/employee.png" alt="" /> @Html.ActionLink("Employees", "Index", "Employee")</li>
                            <li class="btn btn-default"><img class="product" src="../Images/product.gif" alt="" /> @Html.ActionLink("Products", "Index", "Products")</li>
                            <li class="btn btn-default"><img class="search" src="../Images/search.png" alt="" /> @Html.ActionLink("Search Products", "Index", "SearchProducts")</li>
                            <li class="btn btn-default"><img class="bill" src="../Images/bill.png" alt="" /> @Html.ActionLink("Bills", "Index", "Bill")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                </div>
            </div>
        </footer>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/Content/js/bootstrap.min.js")
        @RenderSection("scripts", required: false)
    </body>
</html>
