@model ClassLibrary1.Category

@{
    ViewBag.Title = "Details Category";
}

<h2>Details Category</h2>

<fieldset>
    <legend>Category</legend>


    <table class="table table-hover">
        <tr>
            <th>
                @Html.LabelForModel("Date")
            </th>
            <th>
                @Html.LabelForModel("Description")
            </th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.name)
            </td>
            <td>
                @Html.DisplayFor(model => model.name)
            </td>
        </tr>
   </table>  

    
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
