@model POS.Models.SearchWarehouseProductsModels
@{
    ViewBag.Title = "Search Warehouse";
}

<h2>Search Warehouse</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <div class="editor-field">
        @Html.EditorFor(model => model.SearchText)
    </div>
    <input type="submit" value="Search" />
}

<table class="table table-hover">
    <thead>
        <tr>
            <td style="font-weight:bold">
                Products
            </td>
            <td style="font-weight:bold">
                Qty
            </td>
            <td style="font-weight:bold">
                Warehouse
            </td>
     </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.WarehouseProducts)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Products.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.qtyAvailable)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Warehouse)
                </td>
          </tr>
        }
</table>