@model ClassLibrary1.Client

@{
    ViewBag.Title = "Details Client";
}

<h2>Details Client</h2>

<fieldset>
    <legend>Client</legend>

    <table class="table table-hover">
        <tr>
            <th>
                @Html.LabelForModel("Name")
            </th>
            <th>
                @Html.LabelForModel("Last Name 1")
            </th>
            <th>
                @Html.LabelForModel("Last Name 2")
            </th>
            <th>
                @Html.LabelForModel("Address")
            </th>
            <th>
                @Html.LabelForModel("Phone")
            </th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.name)
            </td>
            <td>
                @Html.DisplayFor(model => model.lastName1)
            </td>
            <td>
                @Html.DisplayFor(model => model.lastName2)
            </td>
            <td>
                @Html.DisplayFor(model => model.address)
            </td>
            <td>
                @Html.DisplayFor(model => model.phone)
            </td>
        </tr>
    </table>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
