@model ClassLibrary1.Client

@{
    ViewBag.Title = "Edit Client";
}

<h2>Edit Client</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Client</legend>

        @Html.HiddenFor(model => model.id)

        <div class="editor-label">
            @Html.LabelForModel("Name")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.name)
            @Html.ValidationMessageFor(model => model.name)
        </div>

        <div class="editor-label">
            @Html.LabelForModel("Last Name 1")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.lastName1)
            @Html.ValidationMessageFor(model => model.lastName1)
        </div>

        <div class="editor-label">
            @Html.LabelForModel("Last Name 2")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.lastName2)
            @Html.ValidationMessageFor(model => model.lastName2)
        </div>

        <div class="editor-label">
            @Html.LabelForModel("Address")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.address)
            @Html.ValidationMessageFor(model => model.address)
        </div>

        <div class="editor-label">
            @Html.LabelForModel("Phone")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.phone)
            @Html.ValidationMessageFor(model => model.phone)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
