@model ClassLibrary1.WarehouseProducts

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>WarehouseProducts</legend>

    <table class="table table-hover">
        <tr>
            <th>
                @Html.DisplayName("Product")
            </th>
            <th>
                @Html.DisplayName("QTY")
            </th>
            <th>
                @Html.DisplayName("Warehause")
            </th>
            <th></th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Products.name)
            </td>
            <td>
                @Html.DisplayFor(model => model.qtyAvailable)
            </td>
            <td>
                @Html.DisplayFor(model => model.Warehouse.description)
            </td>
        </tr>
    </table>

</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
