@model ClassLibrary1.WarehouseProducts

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>WarehouseProducts</legend>

    <table class="table table-hover">
        <tr>
            <th>
                @Html.DisplayName("Product")
            </th>
            <th>
                @Html.DisplayName("QTY")
            </th>
            <th>
                @Html.DisplayName("Warehause")
            </th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Products.name)
            </td>
            <td>
                @Html.DisplayFor(model => model.qtyAvailable)
            </td>
            <td>
                @Html.DisplayFor(model => model.Warehouse.description)
            </td>
        </tr>
    </table>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
