@model ClassLibrary1.Warehouse

@{
    ViewBag.Title = "Delete";
}

<h2>Delete Warehause</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Warehouse</legend>

    <table class="table table-hover">
        <tr>
            <th>
                @Html.LabelForModel("Description")
            </th>
            <th>
                @Html.LabelForModel("Address")
            </th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.description)
            </td>
            <td>
                @Html.DisplayFor(model => model.address)
            </td>
        </tr>
    </table>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}