@model ClassLibrary1.Warehouse

@{
    ViewBag.Title = "Details";
}

<h2>Details Warehause</h2>

<fieldset>
    <legend>Warehouse</legend>

    <table class="table table-hover">
        <tr>
            <th>
                @Html.LabelForModel("Description")
            </th>
            <th>
                @Html.LabelForModel("Address")
            </th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.description)
            </td>
            <td>
                @Html.DisplayFor(model => model.address)
            </td>
        </tr>
    </table>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
