@model ClassLibrary1.Products

@{
    ViewBag.Title = "Delete";
}

<h2>Delete Product</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Products</legend>

    <table class="table table-hover">
        <tr>
            <th>
                @Html.LabelForModel("Code")
            </th>
            <th>
                @Html.LabelForModel("Product")
            </th>
            <th>
                @Html.LabelForModel("Price")
            </th>
            <th>
                @Html.LabelForModel("Category")
            </th>
            <th>
                @Html.LabelForModel("Brand")
            </th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.code)
            </td>
            <td>
                @Html.DisplayFor(model => model.name)
            </td>
            <td>
                @Html.DisplayFor(model => model.costPrice)
            </td>
            <td>
                @Html.DisplayFor(model => model.Category.name)
            </td>
            <td>
                @Html.DisplayFor(model => model.Brand.name)
            </td>
        </tr>
    </table>

</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}