@model ClassLibrary1.Products

@{
    ViewBag.Title = "Details";
}

<h2>Details Product</h2>

<fieldset>
    <legend>Products</legend>

    <table class="table table-hover">
        <tr>
            <th>
                @Html.LabelForModel("Code")
            </th>
            <th>
                @Html.LabelForModel("Product")
            </th>
            <th>
                @Html.LabelForModel("Price")
            </th>
            <th>
                @Html.LabelForModel("Category")
            </th>
            <th>
                @Html.LabelForModel("Brand")
            </th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.code)
            </td>
            <td>
                @Html.DisplayFor(model => model.name)
            </td>
            <td>
                @Html.DisplayFor(model => model.costPrice)
            </td>
            <td>
                @Html.DisplayFor(model => model.Category.name)
            </td>
            <td>
                @Html.DisplayFor(model => model.Brand.name)
            </td>
        </tr>
    </table>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
