@model ClassLibrary1.Bill

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Bill</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.date)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tax)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tax)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.discount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.discount)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.paymentType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.paymentType)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.state)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.state)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.subtotal)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.subtotal)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.total)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.total)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Employee.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Employee.name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Client.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Client.name)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
