@model IEnumerable<ClassLibrary1.Bill>

@{
    ViewBag.Title = "Bill";
}

<h2>Bill</h2>

<p>
    @Html.ActionLink("Create New Bill", "Create")
</p>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayName("Date")
        </th>
        <th>
            @Html.DisplayName("Employee")
        </th>
        <th>
            @Html.DisplayName("Client")
        </th>
        <th>
            @Html.DisplayName("State")
        </th>
        <th>
            @Html.DisplayName("Payment Type")
        </th>
        <th>
            @Html.DisplayName("Discount")
        </th>
        <th>
            @Html.DisplayName("Subtotal")
        </th>
        <th>
            @Html.DisplayName("Tax")
        </th>
        <th>
            @Html.DisplayName("Total")
        </th>       
        
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.state)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.paymentType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.discount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.subtotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tax)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.total)
            </td>
            
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
