@model ClassLibrary1.Suppliers

@{
    ViewBag.Title = "Details";
}

<h2>Details Supplier</h2>

<fieldset>
    <legend>Suppliers</legend>

    <table class="table table-hover">
        <tr>
            <th>
                @Html.LabelForModel("Supplier Name")
            </th>
            <th>
                @Html.LabelForModel("Phone")
            </th>
            <th>
                @Html.LabelForModel("Address")
            </th>
            <th>
                @Html.LabelForModel("Detail")
            </th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.name)
            </td>
            <td>
                @Html.DisplayFor(model => model.phone)
            </td>
            <td>
                @Html.DisplayFor(model => model.address)
            </td>
            <td>
                @Html.DisplayFor(model => model.detail)
            </td>
        </tr>
    </table>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
