@model ClassLibrary1.Suppliers

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Suppliers</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.phone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.phone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.address)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.address)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.detail)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.detail)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
